{
  "branches": [
    "main"
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "parserOpts": {
          "headerPattern": "(\\[\\w+-\\d+\\])\\((\\w+)\\)?:\\s?(\\w.*)",
          "headerCorrespondence": ["ticket", "type", "subject"]
        },
        "releaseRules": [
          { "type": "feat", "release": "minor" },
          { "type": "fix", "release": "patch" },
          { "type": "chore", "release": "patch" },
          { "type": null, "release": "patch" }
        ]
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "parserOpts": {
          "headerPattern": "(\\[\\w+-\\d+\\])\\((\\w+)\\)?:\\s?(\\w.*)",
          "headerCorrespondence": ["ticket", "type", "subject"]
        }
      }
    ],
    "@semantic-release/github"
  ]
}
