{
  "branches": [
    "main"
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "parserOpts": {
          "headerPattern": "(\\[\\w+-\\d+\\])\\((\\w+)\\)?:\\s?(\\w.*)",
          "headerCorrespondence": ["ticket", "type", "subject"]
        },
        "releaseRules": [
          { "type": "feat", "release": "minor" },
          { "type": "fix", "release": "patch" },
          { "type": "chore", "release": "patch" },
          { "type": null, "release": "patch" }
        ]
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "presetConfig": {
          "issuePrefixes": ["[", "PROJ-"],
          "issueUrlFormat": "https://your-company.atlassian.net/browse/{{id}}"
        },
        "parserOpts": {
          "headerPattern": "(\\[\\w+-\\d+\\])\\((\\w+)\\)?:\\s?(\\w.*)",
          "headerCorrespondence": ["ticket", "type", "subject"]
        }
      }
    ],
    "@semantic-release/github"
  ]
}
